<div class="h-100 p-3 news">
    <img src="../../../assets/images/mission-four/settlar.jpg" class="news-img w-100" alt="">
    <h5 class="mt-3"> Settlar Agent Spotlight </h5>
    <span> Learn how Settlat.com can save you time and money </span>
    <p class="py-2"> Your home is your biggest investment, and that makes real estate no joking matter. That's why
        Settlar suggests
        you never dive into buying or selling alone. In the long run, partnering with a real estate agent saves you time
        and money. Not to mention the headache og negotiations. </p>
    <p class="py-2"> So, when you're ready to take the plunge into the real estate world, you need an expert on your
        side. That's where Settlar's Agent Spotlight comes into play. We highlight the best and brightest of the real
        estate world for your benefit, and this month, we're highlighting our top seller. </p>
    <p class="py-2"> Meet Radhika Patel. She epitomizes the integrity, hard work, and creativity of the fast-paced real
        estate world. Radhika is a pro at analyzing current market reports and capitalization on trends. She's ranked in
        the top 1% nationally, earned the President's circle distinction, and is considered a Premier Agent throughtout
        the Us. When she's not slinging deals, gathering intel, or hosting open houses, Radhika enjoys spending time at
        the spa and slipping wine in Napa Valley. </p>
</div>