<div class="chat h-100 overflow-hidden d-flex flex-column">
    <div class="chat-topbar d-flex align-items-center justify-content-start px-3 text-white cursor shadow">
        <i class='bx bx-left-arrow-alt fs-3' routerLink="/five/message"></i>
        <img src="../../../assets/images/mission-three/avatar.png" class="chat-img mx-2 rounded-circle" alt="profile-dad">
        <span class="fs-5"> HQ </span>
    </div>
    <div class="chat-screen overflow-auto h-100 p-3 flex-grow-1">
        <div class="my-2 text-center">
            <span class="rounded-pill text-white date px-3 py-1"> Jul 30 </span>
        </div>
        <div class="d-flex py-2" *ngFor="let data of chat" [ngClass]=" data.name === 'sender' ? 'justify-content-start' : 'justify-content-end' ">
            <div class="chat-message text-start text-white py-2 px-3" [ngClass]=" data.name === 'sender' ? 'sender' : 'user' "> {{ data.message }} </div>
        </div>
    </div>
</div>