<!-- ShadowNet  -->
<div class="h-100" *ngIf="notes === 1">
    <div class="d-flex align-items-center px-2" style="min-height: 40px;">
        <i class='bx bx-left-arrow-alt fs-4 cursor' routerLink="/five/notes"></i>
        <span class="fw-bolder ms-2"> ShadowNet </span>
    </div>
    <div class="note px-3 py-5">
        <p> To the noble Mr. X, <br><br> Your acquistion of ShadowNet's mind-control technology is complete. I thank you
            for your business. <br> But before you reap the benefits of my greatest creation to date, you must follow
            these steps: </p>
        <ol>
            <li> Install the Trojan Horse app on the target's device </li>
            <li> Install the controller app on your device </li>
            <li> Connect the brainwaves headset to your device's USB port </li>
            <li> Place the brainwaves headset upon your head </li>
            <li> Open the controller app and follow the Instructions </li>
        </ol>

        <p> Best regards, <br> Dr. Nikolay Von Mozhaysky </p>
    </div>
</div>

<!-- Jonathan Barret -->
<div class="h-100" *ngIf="notes === 2">
    <div class="d-flex align-items-center px-2" style="min-height: 40px;">
        <i class='bx bx-left-arrow-alt fs-4 cursor' routerLink="/five/notes"></i>
        <span class="fw-bolder ms-2"> Jonathan Barret </span>
    </div>
    <div class="note px-3 py-5">
       <p> Known as "The Stroll" <br> World-class conman skilled in disguises <br> Could prove useful in infiltrating the WCSP <br> Last seen in Central America, FBI wanted </p>
    </div>
</div>

<!-- Untitled -->
<div class="h-100" *ngIf="notes === 3">
    <div class="d-flex align-items-center px-2" style="min-height: 40px;">
        <i class='bx bx-left-arrow-alt fs-4 cursor' routerLink="/five/notes"></i>
        <span class="fw-bolder ms-2"> Untitled </span>
    </div>
    <div class="note px-3 py-5">
       <p> Pain and suffering are always inevitable for a large intelligence and a deep heart. The really great men must, I think, have great sadness on earth. </p>
    </div>
</div>

<!-- WCSP -->
<div class="h-100" *ngIf="notes === 4">
    <div class="d-flex align-items-center px-2" style="min-height: 40px;">
        <i class='bx bx-left-arrow-alt fs-4 cursor' routerLink="/five/notes"></i>
        <span class="fw-bolder ms-2"> WCSP </span>
    </div>
    <div class="note px-3 py-5">
       <p> Diamond - 1502 <br> Singer - 1328 <br> Insect - 1159 <br> Cheek - 1565 <br> Thing - 1259 <br> Boyfriend - 1615 <br> Dirt - 1215 <br> Breath - 1071 <br> Tooth - 1382 <br> Concept - 1366 </p>
    </div>
</div>

<!-- The Game -->
<div class="h-100" *ngIf="notes === 5">
    <div class="d-flex align-items-center px-2" style="min-height: 40px;">
        <i class='bx bx-left-arrow-alt fs-4 cursor' routerLink="/five/notes"></i>
        <span class="fw-bolder ms-2"> The Game </span>
    </div>
    <div class="note px-3 py-5">
        <p> I was most interested in your ideas to convert a hypnosis into a mind control device. Leveraging the human instinct to prove oneself throught a competitive game is brilliant. We will begin prototying immediately. </p>
    </div>
</div>
