// Theme Color 
$primary                                    : #22beef;
$danger                                     : #dc3545; 

$mission-two: (
    "message":#4267B2,
    "gallery":#ff0088,
    "notes":#ffff00,
    "browser":#9500ff,
);

$mission-three: (
    "phone":#10e10d,
    "message":#4267B2,
    "gallery":#ff0088,
);

$mission-four: (
    "message":#4267B2,
    "smart":#fff700,
    "pizza":#ff4000,
    "news":#9500ff,
);

$mission-five: (
    "message":#4267B2,
    "vault":#00960f,
    "calender":#3900aa,
    "browser":#9500ff,
);

$mission-vault: (
    "police":#4267B2,
    "device":#ff0088,
    "target":$danger,
    "notes":#ffff00,
);