<div class="h-100 d-flex flex-column justify-content-center align-items-center text-center px-4 position-relative"
    style="background-color: #ff4000; color: #ffc400;">
    <div class="app-pincode position-absolute" *ngIf="appLock">
        <div class="h-100 d-flex justify-content-center align-items-center px-3 text-white">
            <div class="py-5 px-2">
                <h5 class="text-center"> To control this app, enter your pin </h5>
                <div class="d-flex justify-content-around align-items-center my-5 px-5"
                    [ngClass]="animation === true ? 'password' : ''">
                    <span> <i class="bx fs-4 mx-2"
                            [ngClass]=" pincode[i] != null ? 'bx-radio-circle-marked' : 'bx-radio-circle' "
                            *ngFor="let m of pin, let i=index"></i> </span>
                </div>
                <div class="row px-4">
                    <div class="col-4 d-flex justify-content-center" *ngFor="let num of number, let i = index">
                        <div class="py-3">
                            <span
                                class="smart-number fs-3 cursor rounded-circle d-flex justify-content-center align-items-center"
                                (click)="onPin(i+1)">
                                {{num}} </span>
                        </div>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4 d-flex justify-content-center">
                        <div class="py-3">
                            <span
                                class="smart-number fs-3 cursor rounded-circle d-flex justify-content-center align-items-center"
                                (click)="onZero()">
                                0 </span>
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <div class="py-3">
                            <span
                                class="smart-number fs-3 cursor rounded-circle d-flex justify-content-center align-items-center"
                                (click)="onBack()">
                                <i class="bx bx-arrow-back"></i> </span>
                        </div>
                    </div>
                </div>
                <div class="text-end me-4 mt-4">
                    <span class="text-white p-3 cursor" (click)="onCancel()"> Cancel </span>
                </div>
            </div>
        </div>
    </div>
    <h5> Fatest Pizza on The Planet! </h5>
    <p style="font-size: 0.8rem;"> Our order-prediction AI delivers fresh pizza in less than 3 minutes! </p>
    <img src="../../../assets/images/mission-four/13-pizza-lineal.gif" alt="" style="max-width: 150px;">
    <button class="pizza-btn fw-bold px-4 py-3 rounded-3 text-white" (click)="onOrder()"> One Click Order! </button>
</div>