<div class="h-100 note">
    <div class="py-3 px-2">
        <input type="text" class="browser-input rounded-pill w-100 px-4" disabled value="www.wcsp.gov/awards-2020">
    </div>
    <div class="p-3 d-flex">
        <div class="d-flex flex-column align-items-center mx-3">
            <span> "Insect" </span>
            <img src="../../../assets/images/mission-five/employee-1.jpg" class="browser-img mt-4" alt="">
        </div>
        <div class="d-flex flex-column align-items-center mx-3">
            <span> "Dirt" </span>
            <img src="../../../assets/images/mission-five/employee-2.jpg" class="browser-img mt-4" alt="">
        </div>
    </div>
    <div class="d-flex flex-column align-items-center mt-5">
        <span> "Check" </span>
        <img src="../../../assets/images/mission-five/employee-3.jpg" class="browser-img mt-4" alt="">
    </div>
    <div class="d-flex flex-column align-items-center mt-5">
        <span class="text-center"> And last but not the least, the chief of WCSP, "Tooth" </span>
        <img src="../../../assets/images/mission-five/leader.jpg" class="browser-img mt-4" alt="">
    </div>
</div>