<div class="h-100 p-3 news">
    <img src="../../../assets/images/mission-four/drone.jpg" class="news-img w-100" alt="">
    <h5 class="mt-3"> Drone Mayday </h5>
    <span> Pizza-Carrying Drone Crash in Lakewood </span>
    <p class="py-2">Residents of Lakewood County are considering themselves lucky after an autonomous drone fell from
        the sky, narrowly missing a senior questrian center.</p>
    <p class="py-2"> The pointless aircraft, operated by local pizza entrepreneurs, Pie in the sky,was out for a piping
        hot delivery when witnesses say it all went wrong. "I heard what sounded like soft cheese caught in a propeller,
        and looked up," said shaken local mail carrier Ramesh Gandhi. "As it banked, one of the flaps on the pizza box
        opened up, and a hot stream of tomato sauce got stucked into the blades... the drone didn't stand a chance."
    </p>
    <p class="py-2"> FAA official were on-site to access the drone wreckage while FDA agents arrived and promptly
        classified the pizza debris as "inedible." </p>
    <p class="py-2"> Representatives for pie in the sky pizza released a statement saying:"We're profoundly sorry for
        the loss of the large sausage and mushroom pizza with extra bell peppers and any inconvenience it caused to our
        loyal customer of South Robb Street in Lakewood County. We're grateful that no one was harmed and will take the
        necessary steps to avoid future incidents." </p>
</div>