<div class="h-100">
    <div class="d-flex align-items-center px-2" style="min-height: 40px;">
        <i class='bx bx-left-arrow-alt fs-4 cursor' routerLink="/two/note"></i>
        <span class="fw-bolder ms-2"> Dear Parents </span>
    </div>
    <div class="note px-3 py-5">
        <p> If you're reading this, <br> I'm already far away from home. <br> I love you, and I'm sorry to worry you,
            <br> but I couldn't stay there any longer. <br> Leon left me and now everything reminds me of him. <br> I needed to get away. Please don't come get me. I'll be fine.</p>
    </div>
</div>