.chat {
    background-color: #0f1d28;

    &-topbar {
        flex: 0 0 50px;
        background-color: #233237;
    }

    &-img {
        height: 30px;
        width: 30px;
    }

    &-message {
        font-size: $font-size-sm;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        max-width: 200px;
    }

    &-time {
        right: 2px;
        bottom: 2px;
        font-size: 0.6rem;
    }
}

.user {
    background-color: #054640;
    border-bottom-left-radius: 12px;
}

.sender {
    border-bottom-right-radius: 12px;
    background-color: #233237;
}

.date {
    background-color: #233237;
    font-size: $font-size-sm;
}

.pin-number {
    background-color: #e7e7e7;
    width: 45px;
    height: 45px;
}

.password {
    animation-name:              password;    
    animation-duration:          0.8s;
    animation-iteration-count:   infinite;
    animation-timing-function:   linear;
    transform-origin:            50% 100%;
}

@keyframes password {
    0%  { transform:     translate(2px, 1px) rotate(0deg); }
    10% { transform:     translate(-1px, -2px) rotate(-2deg); }
    20% { transform:     translate(-3px, 0px) rotate(3deg); }
    30% { transform:     translate(0px, 2px) rotate(0deg); }
    40% { transform:     translate(1px, -1px) rotate(1deg); }
    50% { transform:     translate(-1px, 2px) rotate(-1deg); }
    60% { transform:     translate(-3px, 1px) rotate(0deg); }
    70% { transform:     translate(2px, 1px) rotate(-2deg); }
    80% { transform:     translate(-1px, -1px) rotate(4deg); }
    90% { transform:     translate(2px, 2px) rotate(0deg); }
    100%{ transform:     translate(1px, -2px) rotate(-1deg); }
   }