.main{
    background-image: url('../../images/mission-one/wallpaper.jpg');
    background-position: center;
    background-size: cover;

    .application{

        &-icon{
            background-color: #4267B2;
            border-radius: 10px;
            height: 50px;
            max-width: 55px;
        }

        span{
            font-size: $font-size-sm;
        }
    }
}