<div class="wrapper h-100 d-flex flex-column position-relative overflow-hidden">
    <div class="header bg-dark d-flex justify-content-between px-md-5 px-3 align-items-center shadow">
        <h2 class="text-white"> BEDETE<span class="text-primary">CTIVE </span> </h2>
        <label for="hamburger" class="toggle text-primary"> <i class='bx bx-menu fs-4'></i> </label>
        <input type="checkbox" id="hamburger" class="d-none">
        <ul class="menu mt-3 d-flex justify-content-between flex-column flex-md-row align-items-center">
            <li class="menu-items">
                <a class="menu-link"> Home </a>
            </li>
            <li class="menu-items">
                <a class="menu-link"> Missions </a>
            </li>
            <li class="menu-items">
                <a class="menu-link"> About Us </a>
            </li>
        </ul>
    </div>
    <div class="landing h-100 flex-grow-1 overflow-auto">
        <div class="home h-100 d-flex justify-content-between flex-md-row flex-column align-items-center bg-dark">
            <div class="home-content text-md-start text-center">
                <h1 class="text-white"> Welcome to <span class="text-primary">Phone Detective Game</span> </h1>
                <p class="text-white my-3">
                    In each of the missions below, you will gain access to someone's phone. <br> your mission is to
                    search the phone for clues, gather information and solve a mystery. <br>
                    <span class="text-primary" style="font-size: 1.2rem;"> Do you have what it takes?! </span>
                </p>
                <button class="btn btn-primary mt-3" routerLink="/one"> Start Mission </button>
            </div>
            <figure>
                <img src="../../assets/images/landing page/detective.png" class="home-img" alt="">
            </figure>
        </div>
    </div>
</div>

<!-- <p>
    In each of the missions below, you will gain access to someone's phone. <br> your mission is to search the phone for
    clues, gather information and solve a mystery.
    Do you have what it takes?!
</p> -->