.header{
    flex: 0 0 $header-size;
    z-index: 999;

    @media (max-width: $tablet-view){
        flex: 0 0 50px;
    }
    
    .toggle{
        display: none;
        
        @media (max-width: $tablet-view){
            display: block;
        }
    }

    .menu{

        transition: $transition;
        @media (max-width: $tablet-view){
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 500px;
            padding: 5rem 0;
            background-color: $primary;
            transform: translateY(-150%);
        }
    
        &-items{
            list-style: none;
        }

        &-link{
            color: white;
            text-decoration: none;
            padding: 1rem 3rem;
            transition: $transition;
            cursor: pointer;

            @media (max-width: $tablet-view){
                color: black;
            }

            &:hover{
                color: $primary;
            }
        }
    }
}

#hamburger:checked ~ .menu{
    transform: translateY(36px);
}