#sidebar{
    flex: 0 0 $sidebar-width;
    transition: 0.6s all;

    input {
        @media(max-width: $tablet-view){
            font-size: $font-size-sm;
        }
    }

    @media (max-width: $tablet-view){
        position: absolute;
        z-index: 9;
        min-height: 100%;
        transform: translateX(-100%);
        width: $sidebar-width;
        font-size: $font-size-sm;
    }
}